{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "vitest", "prettier"],
  "extends": [
    "mantine",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": false
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "ignorePatterns": [
    "dist",
    "node_modules",
    "storybook-static",
    "public",
    ".*"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.eslint.json",
    "tsconfigRootDir": "."
  }
}
